<div class="container d-flex flex-column align-items-center">
<h3 class="mt-4">The Bonfluencers of Today</h3>
  <% unless @users.nil? %>
    <% @users.each do |user| %>
      <div class="review-card-home my-2 mx-auto">
        <div class="mt-1">
          <% user.reviews.where('created_at >= ?', 2.days.ago).each do |review| %>
            <div class="reviews-on-homepage">
              <div><%= review.author %></div>
              <div><strong><%= review.content %></strong></div>
            </div>
          <% end %>
        </div>
        <div class="home-outer-card">
          <div class="home-user-cards">
            <div><%= user.username %></div>
            <div><%= user.bio %></div>
          </div>
          <div class="avatar-home my-auto"></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
