.green-white-button{
  background-color: green;
  color: white;
  border-radius: 5px;
  height: 40px;

}

.add-message-button{
  font-size:30px;
  text-decoration: none;
  color: black;
}

.back-button{
  text-decoration: none;
  &:hover{
    text-decoration:underline;
  }
}
