.review-card{
  width: 90%;
  border-radius: 8px;
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255);
  box-shadow: inset;
  margin-bottom: 10px;
  padding: 8px 10px;
}

.review-card-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avatar{
  border-radius: 50%;
  background-color: grey;
  height: 15px;
  width: 15px;
}

.author-line{
  display:flex;
  align-items:center;
}

.index-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-reviews{
  width: 90%;
}
