.home-user-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-outer-card{
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 8px 8px 0px 10px;
  border-top: 1px solid rgb(94, 94, 94);
}

.avatar-home{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
}

.review-card-home{
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 8px;
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255);
  padding: 8px 10px;
}

.reviews-on-homepage{
  // border-bottom: 1px solid rgb(226, 226, 226);
  // border-radius: 8px;
  padding: 4px 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(201, 241, 201);
}
