<h1 class="text-center">homepage</h1>
<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <%= simple_form_for [@user, @review] do |f| %>
      <!-- Label button that triggers camera -->
      <label for="cameraInput" class="green-white-button p-2 text-decoration-none">Scan a Qr Code</label>
      <%= f.input :photo, as: :file, input_html: { id: 'cameraInput', accept: "image/*", capture: "camera", style: "display:none;" }, label: false %>

    <% end %>
  </div>
</div>
