<%= link_to "Add a message", new_review_path, class:"green-white-button p-2 text-decoration-none" %>
<h3 class="text-center mt-4">Your messages</h3>
<% unless @reviews.nil?%>
<div class="review-card-container mt-4">
  <% @reviews.each do |review|%>
    <div class="review-card">
     <div class="author-line">
        <div class="avatar me-2"></div>
        <div><strong><%= review.author %></strong></div>
     </div>
      <div class="mt-1"><%= review.content %></div>
    </div>
  <% end %>
</div>
<% end %>
